<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping ToDo</title>
</head>
<body>
    <h1>Shopping ToDo List</h1>
    <ul>
        {% for todo_item in todo_items %}
            <li>
                {{ todo_item.description }} 
                {% if todo_item.completed %}(完了){% endif %}
                <span>(カテゴリ: {{ todo_item.category.name }})</span>
                <span>(価格: {{ todo_item.price|floatformat:"0" }})</span>
                <span>(店舗名: {{ todo_item.store_name }})</span>
                <a href="{% url 'edit_todo_item' todo_item.id %}">編集</a>
                <a href="{% url 'delete_todo_item' todo_item.id %}">削除</a>
                <a href="{% url 'toggle_completed_status' todo_item.id %}">
                    {% if todo_item.completed %}未完了{% else %}完了{% endif %}
                </a>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'create_todo_item' %}">商品を追加</a>
    <a href="{% url 'todo_list' %}">戻る</a>
</body>
</html>
