<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PricePursuit</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>PricePursuit</h1>
    <h2>{{ category.name }}</h2>
    <ul>
        {% for todo_item in todo_items %}
            {% if todo_item.category == category %}
                <li>
                    {{ todo_item.description }} <!-- タイトルの代わりに Description を表示 -->
                    {% if todo_item.completed %}(完了){% endif %}
                    <span>(カテゴリ: {{ todo_item.category.name }})</span>
                    <span>(価格: {{ todo_item.price|floatformat:"0" }})</span>
                    <span>(店舗名: {{ todo_item.store_name }})</span>
                    <a href="{% url 'edit_todo_item' todo_item.id %}">編集</a>
                    <a href="{% url 'delete_todo_item' todo_item.id %}">削除</a>
                    <a href="{% url 'toggle_completed_status' todo_item.id %}">
                        {% if todo_item.completed %}未完了ボタン押してもいいけど二言あるのまじ草{% else %}完了{% endif %}
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
    <ul>
        <!-- 価格でソートするボタンを追加 -->
        <form method="get" action="">
            <button type="submit" name="sort_by_price">Sort by Value</button>
        </form>
    
        <!-- 最安値以外を削除するボタンを追加 -->
        <form method="post" action="{% url 'delete_cheapest_items' %}">
            {% csrf_token %}
            <button type="submit">DealCleaner</button>
        </form>
        
        {% for todo_item in todo_items %}
            <li>
                {{ todo_item.description }} <!-- タイトルの代わりに Description を表示 -->
                {% if todo_item.completed %}(完了){% endif %}
                <span>(カテゴリ: {{ todo_item.category.name }})</span>
                <span>(価格: {{ todo_item.price|floatformat:"0" }})</span>
                <span>(店舗名: {{ todo_item.store }})</span>
                <a href="{% url 'edit_todo_item' todo_item.id %}">編集</a>
                <a href="{% url 'delete_todo_item' todo_item.id %}">削除</a>
                <a href="{% url 'toggle_completed_status' todo_item.id %}">
                    {% if todo_item.completed %}未完了ボタン押してもいいけど二言あるのまじ草{% else %}完了{% endif %}
                </a>
            </li>
        {% endfor %}
    </ul>

    <ul>
        {% for todo in todos %}
        <li>{{ todo.task }} - ¥{{ todo.price }}</li>
        {% endfor %}
    </ul>
    
    <p>合計金額: ¥{{ total_price }}円</p>
    <form method="post" action="{% url 'calculate_total' %}">
        {% csrf_token %}
        <button type="submit">合計を計算</button>
    </form>

    <a href="{% url 'create_todo_item' %}">ado</a>
    <a href="{% url 'shopping_todo' %}">買い物ToDo</a>
    {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">logout</a>
    {% else %}
        <a href="{% url 'login' %}">login</a>
    {% endif %}
</body>
</html>
