body {
    background-color: #ff0000;
    font-family: Arial, sans-serif;
}

h1 {
    color: #00ff04;
}

.todo-item {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #567fbc;
}

.completed {
    text-decoration: line-through;
}
/* 完了ボタン用のスタイル */
.complete-btn {
    background-color: #28a745;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

.complete-btn:hover {
    background-color: #218838;
}

/* 削除ボタン用のスタイル */
.delete-btn {
    background-color: #dc3545;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: #c82333;
}
