/* static/css/styles.css */
body {
    background-color: #ff0000;
    font-family: Arial, sans-serif;
}

h1 {
    color: #00ff04;
}

.todo-item {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
}

.completed {
    text-decoration: line-through;
}


/* @media  and (min-width:920px) {
    h1 {

    }
} */